.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 1em;
  font-weight: 600;
}

.loader {
  padding-top: 1.2em;
  color: #999;
}

.loader::before {
  content: "Upload now, fetch later";
}

.loader::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1.6s infinite;
  animation: ellipsis steps(4, end) 1.6s infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0;
  margin-right: 20px;
}

@keyframes ellipsis {
  to {
    width: 20px;
    margin-right: 0;
  }
}

.Home .notes h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Home .notes p {
  color: #666;
}
